@import url('https://fonts.googleapis.com/css?family=Dokdo|Lobster|Roboto|Rubik|Dokdo');
*{
    padding: 0;
    margin: 0;
    
}
@media only screen
    and (min-width:1224px)
{
    
    body{
    margin: 0px,0px,0px,0px;
    overflow-x: hidden;
    }
    
    .zagolovok{
    width: 100%;
    margin-top: 0;
    border-top: 0;
    padding-top: 0px;
    border: 0;
    color: white;
    /*
        background: linear-gradient(45deg, #ffffff 0%, #d616f7 25%, #d616f7 50%,  #a00bdb 75%, #a00bdb 100%);
    */
    background-color:#d052a4;
    font-family: Rubik;
    text-align: center;
    font-size: 60px;
    text-shadow: 3px 0 rgba(233, 233, 233, .5), 6px 0 rgba(233, 233, 233, .4), 9px 0 rgba(233, 233, 233, .3), 12px 0 rgba(233, 233, 233, .2), 15px 0 rgba(233, 233, 233, .1);
        
    
   
    
  
}
    
    p>img{
        border-top: 10px solid #d052a4;
        border-left: 20px solid #d052a4;
    }
    

    .Block{
    border-top:20px solid #d052a4;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    background-color: #fefffa;
    vertical-align: middle;
    width: 93%;
    height: 700px;
    
   
    }
    
    .Block.col-sm-4.p{
        text-align:center;
    }
    
    .col-sm-4{
        
    vertical-align: middle;
    display: inline-block;
    width: 30%;
    font-size: 40px;
    text-align: center;   
    
    }
    
    .col-sm-4 img{
        width: 350px;
        height: width;
    }
    
    button{
        font-size: 25px;
        padding: 3px 7px;
        color: #878789;
        border-radius: 5px;
        border: 1px solid #6a6a6a;
        
        background: linear-gradient(#f2f2f2, #9e6bd5, #8a43d5, #380570);
        background: -webkit-gradient(linear, 0 0, 0  100%, from(#f2f2f2), to(#380570), color-stop(0.6, #9e6bd5), color-stop(0.6,  #8a43d5));
        color: #fff;
        border: 2px solid  #8a43d5;
    }
    
    .Block2{
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    background-color: #fedde1;
    vertical-align: middle;
    width: 93%;
    height: 450px;
    font-family: Lobster;
    font-size: 50px;
    text-align: center;

    
    }
    
    
    .Block3{
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    background-color: #ead9f7;
    vertical-align: middle;
    width: 93%;
    height: 550px;
    font-family: Lobster;
    font-size: 19px;
    text-align: center;
    border-bottom:80px solid #d052a4;
    
  
    }
    
    .galleria{
        position: center;
    }

    
    
    
}